body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2efe9;
}
/* forsøg */
body {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

h1 {
  padding: 1em;
}

#content {
  padding: 10px;
  background-color: #eee;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

#content > .group {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cfcfcf;
  background-color: #ddd;
  display: flex;
  flex-flow: column wrap;
  max-height: 600px;
}

#content > .group .item {
  margin: 10px;
  padding: 10px;
  background-color: #aaa;
  width: 200px;
}
/* forsøg */
.hero_image {
  position: relative;
  height: 1225px;
  overflow: hidden;
  background: url(imgs/header_hero.webp) no-repeat center;
  background-size: cover;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 61%;
  color: #f2efe9;
  font-weight: 500;
}
.container h1 {
  font-size: 90px;
  letter-spacing: 0.2rem;
  margin: 0%;
}
.container h2 {
  font-size: 65px;
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 55px;
  display: block;
}
.button {
  color: #f2efe9;
  padding: 20px 45px;
  font-size: 32px;
  background-color: #a6a053;
  text-decoration: none;
  border-radius: 35rem;
  transition: 0.3s all;
}
.button:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
  /* Layout */

  .section_grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
  }
  .section_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  .col {
    padding: 3% 5%;
  }

  .order {
    order: 2;
  }

  .dl_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.col h2 {
  font-size: 34px;
  color: #402718;
  margin-top: 0;
  width: 100%;
}
.col p {
  font-size: 28px;
  color: #402718;
  width: 83%;
}
.flexbox {
  margin: 70px 10px;
}
img {
  border-radius: 10%;
  width: 100%;
}
