html {
  background-color: #f2efe9;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.logo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.knap {
  color: #ee3200;
  text-decoration: none;
  font-family: "Averia Serif Libre";
  letter-spacing: 3px;
}
.knap:hover {
  color: #64281b;
}
.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #a6432d;
  font-family: "Averia Serif Libre";
  letter-spacing: 3px;
  border-radius: 40px;
  padding: 10px;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.menu li {
  display: grid;
  justify-content: center;
  overflow: hidden;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f2efe9;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #64281b;
}

.menu li .current {
  background-color: #64281b;
  color: #f2efe9;
  z-index: -1;
  border-radius: 30px;
}
.burger {
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #64281b;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a6432d;
    font-family: "Averia Serif Libre";
    letter-spacing: 3px;
  }
  .menu {
    display: none;
  }
  .logo {
    flex: 1;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .logo img {
    display: block;
    margin: 0 auto;
  }
  .burger {
    display: block;
    order: 1;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #a6432d;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
    font-family: "Averia Serif Libre";
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active.menu a:hover {
    color: black;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}
