body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f2efe9;
}
.hero_image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url(imgs/header_hero.webp) no-repeat center;
  background-size: cover;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 61%;
  color: #f2efe9;
  font-weight: 500;
}
.container h1 {
  font-size: 50px;
  letter-spacing: 0.2rem;
  margin: 0%;
}
.container h2 {
  font-size: 45px;
  margin-left: 0px;
  margin-top: 40px;
  margin-bottom: 55px;
  display: block;
}
.button {
  color: #f2efe9;
  padding: 20px 45px;
  font-size: 32px;
  background-color: #a6a053;
  text-decoration: none;
  border-radius: 35rem;
  transition: 0.3s all;
}
.button:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
  /* Layout */

  header {
    position: absolute;
    z-index: 99;
    left: 50%;
    translate: -50% 0;
    width: 100%;
  }

  .section_grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    gap: 50px;
  }
  .section_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
  }
  .col {
    padding: 3% 5%;
  }

  .order {
    order: 2;
  }
  .dl_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .section_grid_2-1 {
    margin: 50px 0;
  }
  .section_grid_1-1 {
    margin: 50px 0;
  }
}
.col h2 {
  font-size: 30px;
  color: #402718;
  margin-top: 0;
  width: 100%;
}
.col p {
  font-size: 20px;
  color: #402718;
  width: 100%;
}
.flexbox {
  margin: 70px 10px;
}
img {
  border-radius: 10%;
  width: 85%;
}
